Source: wazo-python-starlette-exporter-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.11

Package: python3-starlette-exporter
Architecture: all
Depends:
 python3-prometheus-client,
 python3-starlette,
 ${misc:Depends},
 ${python3:Depends},
Description: Prometheus exporter for Starlette and FastAPI.
  The middleware collects basic metrics:
  - Counter: starlette_requests_total
  - Histogram: starlette_request_duration_seconds
  Metrics include labels for the HTTP method, the path, and the response status code.
